$colorSecondary: #663399;
$colorMain: black;

@font-face {
    font-family: Vogue;
    src: url(fonts/vogue.ttf);
}

* {
    padding: 0;
    margin: 0;
 }

html,body{
    height:100%;
    background: black;
  }
  .wrapper{
    max-width:1920px;
    margin:0 auto;
    height:100%;
  }
  .section{
    position: relative;
    height:100%;
    // text-align:right;
    /* display: flex;   */
  }
  .section_top{
    font-size: 50px;
    overflow: hidden;
    font-family: Vogue, 'Comic Sans MS', cursive;

  }
  .header_phrase_one{
    color: $colorMain;
    float:left; 
  }
  .header_phrase_two{
    color: gray;
    float: left;
  }

  header {
    background:rgb(243, 243, 243);
    border: 1px solid rgb(243, 243, 243);
    height: 75px;
    width: 100%;
  }

  .header_phrase_news{
      font-size: 35px;
      text-align: center;
      color: $colorMain;
  }

  .header_phrase_todolist {
      font-size: 35px;
      text-align: center;
      color: $colorMain;

  }

  .header_phrase_news:hover{
      color:$colorSecondary;
  }

  .header_phrase_todolist:hover{
      color: $colorSecondary;
  }

  .header_phrase_right{
      font-size: 35px;
      color: $colorSecondary;
      margin-bottom: 50%;
      float:right;
      margin-top: 15px;
  }

  a{
    color: $colorMain;
    text-decoration: none;
    cursor: pointer;
  }

  a:hover{
    color:$colorSecondary;
  }

