$colorSecondary: #663399;
$colorMain: black;
$vogueFont: Vogue, 'Comic Sans MS', cursive;

@font-face {
    font-family: Vogue;
    src: url(fonts/vogue.ttf);
}

  body{
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
  }

  .header_phrase_one{
    color: $colorMain;
    float:left; 
  }
  .header_phrase_two{
    color: gray;
    float: left;
  }

  header {
    background:rgb(243, 243, 243);
    border: 1px solid rgb(243, 243, 243);
    height: 100px;
    width: 100%;
    font-size: 50px;
    overflow: hidden;
    font-family: $vogueFont;
  }

  .header_phrase_news{
      font-size: 35px;
      text-align: center;
      color: $colorMain;
  }

  .header_phrase_todolist {
      font-size: 35px;
      text-align: center;
      color: $colorMain;
      margin-bottom: 15px;
  }

  .header_phrase_news:hover{
      color:$colorSecondary;
  }

  .header_phrase_todolist:hover{
      color: $colorSecondary;
  }

  .header_phrase_right{
      font-size: 35px;
      color: $colorSecondary;
      margin-bottom: 50%;
      float:right;
      margin-top: 15px;
  }

  a{
    color: $colorMain;
    text-decoration: none;
    cursor: pointer;
  }

  a:hover{
    position: relative;
    text-decoration: none;
    color:$colorSecondary;
  }

  a::before {
    width: 0;
    white-space: nowrap;
    color:$colorSecondary;
  }

  .mycolor{
    color:black;
  }

  .mycolor:hover{
    color:$colorSecondary;
    text-decoration: none;
  }
  .mycolor:focus,
  .mycolor:visited{
    color:wheat;
  }
