$colorSecondary: #663399;
$colorMain: black;
$vogueFont: Vogue, 'Comic Sans MS', cursive;
$borderSizeSide: 27px solid #3498db;
$zero: 0;
$whiteColor: white;
$nickNameColor:rgb(255, 183, 0);
$colorTheme: rgb(40, 38, 38);